body {
    background-color: black;
    font-family: verdana;
}

h1 {
color: white;
text-align: center;
}

p {
font-family: verdana;
font-size: 20px;
}

#rendez_vous {
    background-color: green;
    text-align: center;
    color: black;
    float: right;
}

.wrap {
    width: 100%;
    overflow: auto;
    background-image: 'assets/images/sign.webp';
}

.floatleft {
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    float:left; 
    width: 50%;
    height: 800px;
    font-family: verdana;
}

.floatright {
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 50%;
    height: 800px;
    font-family: verdana;
}

.stackcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}