body {
    background-color: black;
    font-family: verdana;
    
}

h1 {
color: white;
text-align: center;
}

p {
font-family: verdana;
font-size: 20px;
}

#rendez_vous {
    background-color: green;
    text-align: center;
    color: black;
}

.wrap {
    width: 100%;
    overflow: auto;
}

.floatleft {
    float:left; 
    width: 50%;
    background-color: #ff0000;
    height: 400px;
}

.floatright {
    float: right;
    width: 50%;
    background-color: #00ff00;
    height: 400px;
}