body {
    background-color: black;
    font-family: verdana;
    color: white;
}

h1 {
color: white;
text-align: center;
}

p {
font-family: verdana;
font-size: 20px;
}

#rendez_vous {
    background-color: green;
    text-align: center;
    color: black;
    float: right;
}

.wrap {
    width: 100%;
    overflow: auto;
}

.floatleft {
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    float:left; 
    width: 50%;
    height: 800px;
    font-family: verdana;
    flex-direction: column;
}

.floatright {
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 50%;
    height: 800px;
    font-family: verdana;
    flex-direction: column;
}

.titlecontainer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100px;
    vertical-align: middle;
    padding: 10px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.service {
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 25%;
    height: 800px;
    font-family: verdana;
}